*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

.header{
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 60px 58px 43px;
}

.menu_1, .menu_2{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu_2 .menu__item{
    margin: 0 30px;
}

.menu__item{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
    
}

.menu__item:hover, .menu__item.active{
    color: #E51937;
    border-bottom: 2px solid #E51937;
}

.item1{
    margin-right: 63px;
}

.item2{
    margin-right: 25px;
}

.item3{
    margin-right: 44px;
}

.item4{
    margin-right: 46px;
}

.tesla__title{
    text-align: center;
    background-image: url("../img/Tesla\ logo\ +\ car.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 594px;
    margin-bottom: 26px;
}

.tesla__title h1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
   
}

.tesla__title p{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.tesla_info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.info_block{
    display: flex;
    align-items: center;
    margin-right: 81px;
}

.info_block_img{
    width: 46px;
    margin-right: 14px;
}

.info_block_text1{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    margin-right: 6px;
}

.info_block_text1 span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    vertical-align: middle;
}

.info_block_text2{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.test_drive{
    margin-left: 24px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.test_drive img{
    margin-right: 7px;
}

.order{
    font-weight: 700;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #E51937;
    border: 2px solid #E51937;
    min-width: 160px;
    min-height: 40px;
}

.go_bottom{
    display: block;
    text-align: center;
}

@media (max-width: 768px) and (min-width: 376px){
    .container{
        width: 768px;
    }

    .menu__item{
        display: none;
    }

    .tesla__title{
        min-height: 435px;
        background-size: contain;
        background-position: center bottom;
    }

    .tesla_info{
        flex-wrap: wrap;
        margin-bottom: 63px;
    }

    nav{
        margin: 24px 33px 94px 15px;
    }

    .tesla__title h1{
        font-size: 98px;
        line-height: 110px;
    }

    .tesla__title p{
        font-size: 15px;
        line-height: 18px;
    }

    .info_block{
        margin-right: 65px;
        margin-left: 65px;
        margin-bottom: 56px;
    }

    /* .info_block:nth-child(2){
        margin-right: 0;
    } */

    .info_block:nth-child(2) .info_block_img{
        width: 38px;
    }

    /* .tesla_info:nth-child(2){
        margin-right: 0;
    } */

    .info_block_img{
        width: 65px;
    }

    .info_block_text1{
        font-size: 50px;
        line-height: 61px;
        margin-bottom: 2px;
    }

    .info_block_text2{
        font-size: 12px;
        line-height: 15px;
    }

    .test_drive{
        font-size: 16px;
        line-height: 20px;
        margin-left: 0;
        margin-right: 34px;
    }

    .test_drive img{
        width: 30px;
        height: 30px;
    }

    .order{
        width: 220px;
        height: 55px;
        font-size: 16px;
        line-height: 55px;
        color:white;
        background: #E51937;
    }
}

@media (max-width: 376px){
    .container{
        max-width: 375px;
    }
    
    .menu__item{
        display: none;
    }

    .tesla__title{
        min-height: 200px;
        background-size: contain;
        background-position: center bottom;
    }

    .tesla_info{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav{
        margin: 2px 5px 21px 43px;
    }

    .tesla__title h1{
        font-size: 50px;
        line-height: 61px;
    }

    .tesla__title p{
        font-size: 10px;
        line-height: 12px;
    }

    .info_block{
        margin-right: 0px;
        margin-bottom: 43px;
    }

    .info_block:nth-child(2){
        margin-left: 20px;
    }

    .tesla_info:nth-child(2){
        margin-right: 0;
    }

    .info_block_text1{
        font-size: 27px;
        line-height: 27px;
        margin-bottom: 2px;
    }

    .info_block_text2{
        font-size: 10px;
        line-height: 10px;
    }

    .test_drive{
        margin-right: 25px;
    }

    .order{
        width: 160px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        color:white;
        background: #E51937;
    }
}

/*Main*/
.main{
    margin-top: 37px;
    /* min-height: 900px; */
    color: white;
}

.main__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url('../img/2013-tesla-model-s-cockpit.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.left-section h2{
    margin-left: 80px;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #E51937;
}

.right-section{
    width: 440px;
    background: #E51937;
    padding: 51px 51px 63px 52px;
}

.main-top h3{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin:0;
}

.main-top p{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin:0;
    margin-top: 11px;
    margin-bottom: 53px;
}



.features{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.features__img{
    margin-right: 19px;
}

.features__text-box{

}

.features__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    
}

.features__accent{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
}

.features__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
}

.main-bottom{
    display: flex;
    margin-top: 131px;
    justify-content: space-between;
}

.information{
    display: flex;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    margin-right: 22px;
}

.information a{
    text-decoration: none;
    color: #FFFFFF;
}

.information img{
    margin-right: 10px;
}

.inverse__button{
    color: #fff;
    border-color: #fff;
}

@media (max-width: 768px) and (min-width: 376px){
    .main{
        height: 100%;
    }

    .main__inner{
        flex-direction: column;
    }

    .letf-section{
        height: 500px;
    }

    .letf-section h2{
        text-align: right;
        margin: 71px 58px 0 0;
    }

    .right-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 55px 50px 50px 35px;
    }

    .main-top-inner{
        display: flex;
    }

    .main-top{
        width: 320px;
        margin-right: 70px;
    }

    .features-box{
        width: 280px;
    }

    .main-bottom{
        margin-top: 0;
        justify-content: center;
    }
}

@media (max-width: 376px){
    .main{
        min-height: 500px;
    }

    .right-section{
        max-width: 375px;
        background-image: url('../img/2013-tesla-model-s-cockpit.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding: 270px 36px 34px 22px;
    }

    .main__inner{
        height: 337px;
        flex-direction: column;
    }
    
    .left-section h2, .features-box, .main-bottom{
        display: none;
    }

    .main-top p{
        margin-bottom: 0;
    }
}

.footer__inner{
    display: flex;
}

.footer__left{
    width: 440px;
    color:#fff;
    background: #E51937;
}

.footer{
    
}

.footer__left-head h3{
    margin: 51px 68px 12px 56px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.footer__left-head p{
    margin: 0 68px 49px 56px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}


.footer__left-body h3{
    margin-left: 56px;
    margin-bottom: 29px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.rating{
    margin-left: 56px;
    margin-right: 93px;
    margin-bottom: 16px;
    display: flex;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
}

.rating__title{

}

.rating__star{

}

.footer__left-bottom .features{
    margin-bottom: 54px;
}

.footer__left-bottom .features__title{
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}

.footer__left-bottom .features__text{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.footer__left-bottom .features__text-box{
    margin-left: 23px;
}

.footer__left-bottom .main-bottom{
    margin: 0 55px 60px -28px;
}

.rating__add{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    opacity: 0.7;
}

.footer__left-bottom{
    margin-top: 111px;
    margin-left: 66px;
}

.footer__right{
    position: relative;
}

.footer__model-text{
    width: 931px;
    position: absolute;
    top: 97px;
    left: 189px;
    font-weight: 600;
    font-size: 200px;
    line-height: 244px;
    color: #E51937;
    opacity: 0.1;
}

.footer__img{
    position: absolute;
    top: 223px;
    left: -95px;
}

.footer__info{
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #000000;
    position: absolute;
    display: flex;
    align-items: flex-start;
}

.footer__info img{
    align-self: center;
}

.footer__info.item-1{
    left: 169px;
    top: 223px;
    width: 172px;
}

.footer__info.item-2{
    left: 447px;
    top: 176px;
    width: 173px;
}

.footer__info.item-3{
    left: 503px;
    top: 590px;
    align-items: flex-end;
    width: 250px;
}

@media (max-width: 768px) and (min-width: 376px){
    .footer__inner{
        flex-direction: column;
    }

    .footer__right{
        height: 525px;
        order: 1;
    }

    .footer__left{
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        order: 2;
    }

    .footer__left-bottom .features{
        display: none;
    }

    .footer__left-head{
        width: 316px;
    }

    .footer__img{
        top: 114px;
        left: -16px;
        width: 750px;
    }

    .footer__model-text{
        top: 37px;
        left: 82px;
        font-weight: 600;
        font-size: 148px;
        line-height: 180px;
        width: 665px;
    }

    .footer__info{
        font-size: 15px;
        line-height: 13px;
    }

    .footer__info.item-1 img{
        height: 193px;
    }

    .footer__info.item-1{
        left: 173px;
        top: 121px;
        width: 124px;
    }
    
    .footer__info.item-2{
        left: 372px;
        top: 87px;
        width: 134px;
    }

    .footer__info.item-2 img{
        height: 87px;
    }
    
    .footer__info.item-3{
        left: 412px;
        top: 378px;
        width: 176px;
    }

    .footer__info.item-3 img{
        height: 77px;
    }

    .footer__left-head, .footer__left-body{
        width: 50%;
    }

    .footer__left-head{
        padding-left: 34px;
        padding-top: 63px;
        padding-right: 30px;
    }

    .footer__left-body{
        padding-top: 63px;
        padding-right: 50px;
        padding-left: 30px;
    }

    .footer__left-head h3{
        margin: 0;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }
    
    .footer__left-head p{
        margin: 0;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
    
    
    .footer__left-body h3{
        margin: 0;
        margin-bottom: 29px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }

    .rating{
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__left-bottom{
        width: 100%;
        margin: 70px auto 64px;
    }

    .footer__left-bottom .main-bottom{
        margin: 0;
    }

    .footer__left-bottom .information{
        margin: 0;
        margin-right: 36px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer__left-bottom .information img{
        width: 31px;
        height: 31px;
    }

    .footer__left-bottom .order{
        font-size: 16px;
        line-height: 55px;
        width: 220px;
        height: 55px;
    }
}

@media (max-width: 376px){
    .footer__inner{
        flex-direction: column;
    }

    .footer__right{
        height: 394px;
        order: 1;
        overflow: hidden;
    }

    .footer__left{
        order: 2;
    }

    .footer__left-bottom{
        display: none;
    }

    .footer__img{
        top: 168px;
        left: 0px;
        width: 360px;
    }

    .footer__left-head h3{
        margin: 18px 22px 11px;
    }

    .footer__left-head p{
        margin: 0 22px 50px;
    }

    .footer__left-body{
        display: none;
    }
    
    .footer__model-text{
        width: 931px;
        top: 110px;
        left: 0px;
        font-weight: 600;
        font-size: 100px;
        line-height: 122px;
    }

    .footer__info{
        font-size: 7px;
        line-height: 6px;
    }

    .footer__info.item-1 img{
        height: 93px;
    }

    .footer__info.item-1{
        left: 90px;
        top: 172px;
        width: 70px;
    }
    
    .footer__info.item-2{
        left: 186px;
        top: 155px;
        width: 70px;
    }

    .footer__info.item-2 img{
        height: 42px;
    }
    
    .footer__info.item-3{
        left: 205px;
        top: 294px;
        width: 90px;
    }

    .footer__info.item-3 img{
        height: 37px;
    }
}